.home-container {
    display: flex;
    flex-direction: column;

}

.image-top-home {
    width: 35rem;
}

.image-container {
    background-image: url('../../assets/images/slider.png');
    background-repeat: round;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 50rem;
    align-items: center;
    /* background-color: #ECEBE9; */
    border-bottom-left-radius: 30% 10%;
    top: 5px;
    padding-top: 5px;
    border-bottom-right-radius: 30% 10%;
    /* padding: 5% 3%; */
}

.home-titile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 2rem;
    padding: 15rem 20rem;

}

.home-btn-hero {
    background: #A30000;
    color: #ffffff;
    border: 1px solid #A30000;
    padding: 10px 50px;
    text-align: center;
    cursor: pointer;
    min-height: 44px;
    height: 50px;
    line-height: 1.2;
    vertical-align: top;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-transform: none;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    width: -moz-fit-content;
    width: fit-content;
}

.home-titile-details h3 {
    color: #3D3D3D;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}

h1 {
    color: #A30000;
}

p {
    color: #3D3D3D;
}

.home-btn {
    background: #A30000;
    color: #ffffff;
    border: 1px solid #A30000;
    padding: 0 45px;
    text-align: center;
    cursor: pointer;
    min-height: 44px;
    height: 40px;
    line-height: 1.2;
    vertical-align: top;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-transform: none;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    width: fit-content;
}

.home-btn:hover,
.home-btn-hero:hover {

    background-color: transparent;
    color: #A30000;
    border-color: #A30000;
    transform: scale(1.1);

}

.home-titile-details h1 {
    font-size: 70px;

}

.home-titile-details h2 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    max-width: 500px;
    color: #3D3D3D;
}

.home-imp-container {
    padding: 7rem 0rem;
}

.home-imp-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: #3D3D3D;
    gap: 1rem;
}

h1 {
    font-size: 50px;
    color: #A30000;

}

.details-imp-home:hover {
    background-color: #a3000053;
}

.steps-home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding: 3rem;
}

.steps-home-container img {
    height: 76px;
    width: 80px;

}

.details-imp-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    border-radius: 15px;
    /* border:1px solid #3D3D3D; */
}

h4 {
    font-size: 20px;
    font-weight: 600;
    color: #3D3D3D;
}

.details-imp-home p {
    max-width: 300px;
    color: #3D3D3D;
    text-align: center;
    line-height: 2rem;

}

.home-about-container {
    display: flex;
    flex-direction: row;
    background-color: #f2f1f0;
    border-bottom-left-radius: 30% 10%;
    border-bottom-right-radius: 30% 10%;

}

.home-about-container img {
    width: 60rem;
    border-bottom-left-radius: 30% 10%;
    /* padding: 20px 0 10px 0; */
}

.home-about-description {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    /* padding: 5rem; */
    align-content: center;
    justify-content: center;
    align-items: center;
}

.home-about-description p {
    padding: 4rem;
    text-align: center;
    line-height: 2rem;
}