.footer-logo {
    width: 20rem;
}

.footer-container {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    height: 18rem;
    align-items: center;
    background-color: #f2f1f0;
    padding: 5rem 8rem 5rem 8rem;
    color: #3D3D3D
}

.footer-title1,
.footer-title2,
.footer-title3 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-container-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10rem;
}

.footer-social-contact {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer-first{
    font-size: 20px;
    color: #A30000;
}

/* .footer-container-details {
    cursor: pointer;
} */

.footer-title1 div:nth-child(2),
.footer-title1 div:nth-child(3),
.footer-title1 div:nth-child(4),
.footer-title1 div:nth-child(5) {
    padding-left: 0.6rem;
}

.footer-title1-mobile {
    display: none;
}
.footer-a:hover,.footer-social-contact:hover{
      cursor: pointer;
      color: #A30000;
}
.footer-a{
    color:#3D3D3D
}
@media screen and (max-width:1567px) {

    .footer-container {
        gap: 5rem;
        padding: 5rem;
    }

    .footer-container-details {
        gap: 5rem
    }
}

@media screen and (max-width:1231px) {
    .footer-container {
        gap: 3rem;
        padding: 1rem;
    }
}

@media screen and (max-width:1071px) {
    .footer-container {
        flex-direction: column;
        gap: 5rem;
    }
}

@media screen and (max-width:837px) {
    .footer-container {
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
        padding: 2rem;
        height: 21rem;
    }

    .footer-container-details {
    display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    .footer-logo-div {
        display: none;
    }
    .footer-title1-mobile{
        display: block;
       }

       .footer-title2{
        display: none;
       }

           .footer-social-contact-mobile{
            display: flex;
            flex-direction: row;
            gap:2rem;
            justify-content: center;
           }
}